body {
  background-color: #1b1b2a;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.socialMd,
.navMd {
  display: none;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.leftNav {
  position: relative;
  width: 15%;
  height: 100vh;
  left: 0%;
}

.leftNav img {
  width: 85px;
  margin: 50px 0px 0px 20px;
  cursor: pointer;
}

.rightNav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 15%;
  height: 100vh;
  left: 70%;
}

.rightNav button {
  color: #1b1b2a;
  font-weight: bold;
  margin-top: 50px;
  background-color: #b3b4bd;
}

.rightNav button:hover {
  color: #b3b4bd;
  background-color: #29293c;
}

.rightNav .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 50px;
}

.rightNav .social a {
  margin: 10px !important;
}

.rightNav a:hover {
  cursor: auto;
}

.rightNav i {
  color: #b3b4bd;
}

.rightNav i:hover {
  cursor: pointer;
  text-shadow: 1px 1px 20px #b3b4bd;
}

.main {
  width: 70%;
  margin-left: 15%;
}

.welcome {
  position: relative;
  height: 100vh;
}

.welcome div {
  position: absolute;
  width: 100%;
  height: 100vh;
  text-align: center;
  visibility: hidden;
}

.welcome div p {
  font-weight: bold;
  color: #1b1b2a;
  text-shadow: 1px 1px 4px #b3b4bd, -1px -1px 4px #b3b4bd, -1px 1px 4px #b3b4bd,
    1px -1px 4px #b3b4bd;
}

.welcome1 p {
  padding-top: 30vh;
  font-size: 8rem;
  -webkit-animation-name: welcome1;
  animation-name: welcome1;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.welcome2 p {
  font-size: 4rem;
  -webkit-animation-name: welcome2;
  animation-name: welcome2;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.welcome3 p {
  font-size: 3rem;
  -webkit-animation-name: welcome3;
  animation-name: welcome3;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.welcome4 p {
  font-size: 3rem;
  -webkit-animation-name: welcome4;
  animation-name: welcome4;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.welcome5 p {
  font-size: 5rem;
  -webkit-animation-name: welcome5;
  animation-name: welcome5;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.welcome6 p {
  font-size: 4rem;
  -webkit-animation-name: welcome6;
  animation-name: welcome6;
  -webkit-animation-duration: 25s;
  animation-duration: 25s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes welcome1 {
  0% {
    visibility: hidden;
    opacity: 0;
    padding-top: 0;
  }
  2% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  4% {
    padding-top: 30vh;
    opacity: 1;
  }
  14% {
    opacity: 1;
    padding-top: 30vh;
  }
  16% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  17% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes welcome1 {
  0% {
    visibility: hidden;
    opacity: 0;
    padding-top: 0;
  }
  2% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  4% {
    padding-top: 30vh;
    opacity: 1;
  }
  14% {
    opacity: 1;
    padding-top: 30vh;
  }
  16% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  17% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@-webkit-keyframes welcome2 {
  17% {
    visibility: hidden;
  }
  19% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  21% {
    padding-top: 25vh;
    opacity: 1;
  }
  31% {
    opacity: 1;
    padding-top: 25vh;
  }
  33% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  34% {
    visibility: hidden;
  }
}

@keyframes welcome2 {
  17% {
    visibility: hidden;
  }
  19% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  21% {
    padding-top: 25vh;
    opacity: 1;
  }
  31% {
    opacity: 1;
    padding-top: 25vh;
  }
  33% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  34% {
    visibility: hidden;
  }
}

@-webkit-keyframes welcome3 {
  34% {
    visibility: hidden;
  }
  36% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  38% {
    padding-top: 10vh;
    opacity: 1;
  }
  48% {
    opacity: 1;
    padding-top: 10vh;
  }
  50% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  51% {
    visibility: hidden;
  }
}

@keyframes welcome3 {
  34% {
    visibility: hidden;
  }
  36% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  38% {
    padding-top: 10vh;
    opacity: 1;
  }
  48% {
    opacity: 1;
    padding-top: 10vh;
  }
  50% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  51% {
    visibility: hidden;
  }
}

@-webkit-keyframes welcome4 {
  51% {
    visibility: hidden;
  }
  53% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  55% {
    padding-top: 20vh;
    opacity: 1;
  }
  65% {
    opacity: 1;
    padding-top: 20vh;
  }
  67% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  68% {
    visibility: hidden;
  }
}

@keyframes welcome4 {
  51% {
    visibility: hidden;
  }
  53% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  55% {
    padding-top: 20vh;
    opacity: 1;
  }
  65% {
    opacity: 1;
    padding-top: 20vh;
  }
  67% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  68% {
    visibility: hidden;
  }
}

@-webkit-keyframes welcome5 {
  68% {
    visibility: hidden;
  }
  70% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  72% {
    padding-top: 20vh;
    opacity: 1;
  }
  82% {
    opacity: 1;
    padding-top: 20vh;
  }
  84% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  85% {
    visibility: hidden;
  }
}

@keyframes welcome5 {
  68% {
    visibility: hidden;
  }
  70% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  72% {
    padding-top: 20vh;
    opacity: 1;
  }
  82% {
    opacity: 1;
    padding-top: 20vh;
  }
  84% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  85% {
    visibility: hidden;
  }
}

@-webkit-keyframes welcome6 {
  86% {
    visibility: hidden;
  }
  88% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  90% {
    padding-top: 20vh;
    opacity: 1;
  }
  98% {
    opacity: 1;
    padding-top: 20vh;
  }
  100% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes welcome6 {
  86% {
    visibility: hidden;
  }
  88% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  90% {
    padding-top: 20vh;
    opacity: 1;
  }
  98% {
    opacity: 1;
    padding-top: 20vh;
  }
  100% {
    visibility: visible;
    opacity: 0;
    padding-top: 0;
  }
  100% {
    visibility: hidden;
  }
}

.main {
  position: fixed;
}

.headers {
  z-index: 11;
  position: absolute;
  width: 70vw;
  margin-left: 15vw;
  padding: 10px;
  margin-top: 75vh;
  padding-bottom: 100px;
}

.headers > div > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40vw;
  height: 150px;
  max-width: 527px;
  background: #dcdcdcd0;
  border-radius: 5px;
  margin-bottom: 30vh;
  text-decoration: none;
  cursor: pointer;
}

.headers > div > a:hover {
  -webkit-box-shadow: 0px 0px 15px #b3b4bd;
  box-shadow: 0px 0px 15px #b3b4bd;
}

.svg {
  margin: auto;
}

.svg svg {
  width: 10vh;
  color: #29293c;
  margin: 10px;
}

.side {
  padding: 10px;
  margin: auto;
}

.side h1 {
  font-weight: bold;
  color: #1b1b2a;
  font-size: 2rem;
}

.side p {
  font-weight: bold;
  color: #29293c;
  font-size: 1rem;
}

.cvHd a,
.galery a {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  margin-left: calc(30vw - 10px) !important;
}

#comm {
  font-size: 1.8rem;
}

.aboutme img {
  border-radius: 500px;
  width: 50vw;
  max-width: 400px;
}

.aboutme h1 {
  margin: auto;
  padding: 10px;
  font-weight: bold;
  color: #b3b4bd;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 3rem;
}

.img {
  margin: 0 auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.introduction h2 {
  margin: 20px;
  font-weight: bold;
  color: #b3b4bd;
}

.introduction p {
  margin: 20px;
  font-size: 1rem;
  color: #b3b4bd;
  text-align: justify;
}

.introduction p b {
  font-size: 1rem;
}

.cv {
  z-index: 11;
}

.cvdwn {
  color: #1b1b2a;
  font-size: bold;
  margin: 10px 0;
  background-color: #b3b4bd;
}

.cvdwn:hover {
  color: #b3b4bd;
  background-color: #29293c;
}

.aboutMeCv > * {
  max-width: 100%;
}

.aboutMeCv {
  width: 100%;
}

.cv h1 {
  margin: auto;
  padding: 10px;
  font-weight: bold;
  color: #b3b4bd;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-size: 3rem;
}

.cv img {
  width: 60vw;
  max-width: 400px;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px auto;
}

.aboutMeCv svg {
  width: 70px;
  margin: 0 30px 5px 0;
  color: #b3b4bd;
}

.aboutMeCv hr {
  color: #b3b4bd;
  height: 2px;
  opacity: 1;
}

.aboutMeCv h2 {
  color: #b3b4bd;
  font-weight: bold;
}

.personel {
  color: #b3b4bd;
}

.personel label {
  font-weight: bold;
  font-size: 1rem;
  width: 140px;
}

.personel p {
  font-size: 1rem;
}

.personel > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.educate {
  color: #b3b4bd;
}

.educate li {
  font-size: 1rem;
  font-weight: bold;
}

.educate p {
  font-size: 1rem;
}

.educate small {
  font-size: 0.7rem;
  font-weight: bold;
}

.job {
  color: #b3b4bd;
}

.job h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 8px;
}

.job h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 8px;
}

.lisance {
  color: #b3b4bd;
}

.jobHr {
  height: 1px;
  background-color: #29293c;
  width: 80%;
}

.lisance h3 {
  font-size: 1rem;
  font-weight: bold;
}

.lisance h4 {
  font-size: 1rem;
  margin-bottom: 20px;
}

.computer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 3px 0;
}

.computer > div > label {
  font-weight: bold;
}

label {
  color: #b3b4bd;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 12em;
  background: transparent;
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  margin: 0.2em 0;
  background: #b3b4bd;
  border-radius: 100%;
  -webkit-box-shadow: inset 0.8em 0.8em 5px -8px rgba(255, 255, 255, 0.192),
    inset -0.4em -0.4em 10px -3px rgba(0, 0, 0, 0.329),
    0.7em 0.5em 7px -0.5em rgba(0, 0, 0, 0.842);
  box-shadow: inset 0.8em 0.8em 5px -8px rgba(255, 255, 255, 0.192),
    inset -0.4em -0.4em 10px -3px rgba(0, 0, 0, 0.329),
    0.7em 0.5em 7px -0.5em rgba(0, 0, 0, 0.842);
}

input[type="range"]::-webkit-slider-runnable-track {
  background: transparent;
  width: 100%;
  padding: 0 1em;
  border-radius: 2em;
  -webkit-box-shadow: inset 0.6em 1em 10px rgba(0, 0, 0, 0.15),
    inset -0.6em -1em 10px rgba(255, 255, 255, 0.199);
  box-shadow: inset 0.6em 1em 10px rgba(0, 0, 0, 0.15),
    inset -0.6em -1em 10px rgba(255, 255, 255, 0.199);
}

input[type="range"]::before {
  content: "0 1 2 3 4 5 6 7 8 9";
  position: absolute;
  text-align: center;
  color: #b3b4bd;
  font-size: 0.8em;
  letter-spacing: 0.16em;
  top: -18px;
  left: 0;
  padding: 1.6em;
  text-shadow: 0.5px 0.5px 0.9px rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.computer {
  color: #b3b4bd;
}

.computer > div {
  border-bottom: 1px solid #29293c;
}

.lang {
  color: #b3b4bd;
}

.lang h3 {
  font-weight: bold;
}

.lang p {
  font-size: 1rem;
}

.lang b {
  font-size: 1rem;
}

.paragraph p {
  color: #b3b4bd;
  font-size: 1rem;
}

.paragraph {
  margin-bottom: 100px;
}

.myprojects > * {
  max-width: 100%;
}

.myprojects h1 {
  margin: auto;
  padding: 10px;
  font-weight: bold;
  color: #b3b4bd;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-size: 3rem;
}

.allprojects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.allprojects img {
  width: 20vw;
  min-width: 250px;
}

.allprojects h2 {
  color: #1b1b2a;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}

.allprojects > a {
  margin: 20px;
  padding: 5px;
  border-radius: 5px;
  background-color: #dcdcdca9;
  z-index: 11;
  cursor: pointer;
  text-decoration: none;
}

.allprojects > a:hover {
  -webkit-box-shadow: 0px 0px 30px #b3b4bd;
  box-shadow: 0px 0px 30px #b3b4bd;
}

.myprojects p {
  font-size: 1.2rem;
  color: #b3b4bd;
}

.myprojects b {
  font-size: 1.2rem;
}

.aboutme,
.cv,
.myprojects,
.prproject {
  position: absolute;
  width: 70vw;
  margin-left: 15vw;
  padding: 10px;
  margin-top: 5px;
  padding-bottom: 100px;
}

.prproject {
  z-index: 12;
}

.prproject a {
  font-size: 1rem;
  color: #b3b4bd;
}

.prproject img {
  width: 100%;
  margin: 10px 0;
}

.prproject ul {
  color: #b3b4bd;
  list-style: decimal;
}

.prproject h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 3rem;
  font-weight: bold;
  color: #b3b4bd;
}

.prproject h2 {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin: 10px auto;
  font-size: 2rem;
  font-weight: bold;
  color: #b3b4bd;
}

.prproject h3 {
  font-size: 1rem;
  font-weight: bold;
  color: #b3b4bd;
}

.links {
  margin: 15px 0;
}

.prproject p {
  font-size: 1.2rem;
  color: #b3b4bd;
  text-align: justify;
}

.prproject p b {
  font-size: 1.2rem;
}

.imgPr img {
  width: 60vw;
  max-width: 500px;
  margin: 20px;
}

.prproject h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px 0%;
}

.prproject hr {
  opacity: 1;
  color: #b3b4bd;
  height: 3px;
}

iframe {
  width: calc(70vw - 20px);
  max-width: 650px;
  max-height: 322px;
  height: 33vw;
  position: static;
  left: 0;
  margin: 0px;
}

.ifra {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: auto;
  background-color: #b3b4bd;
}

.tel * {
  color: #b3b4bd;
  text-decoration: none;
  display: inline-block;
  margin: 5px 0;
}

.tel *:hover {
  text-shadow: 1px 1px 10px #b3b4bd;
}

.tel svg {
  margin-right: 10px;
  margin-bottom: 10px;
}

.commHr {
  background-color: #29293c;
}

.grid-wrap ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (minmax(140px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-auto-rows: 120px;
  grid-auto-flow: dense;
}

.grid-wrap ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 2em;
}

.grid-wrap ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-box-shadow: 0 2px 16px var(--shadow);
  box-shadow: 0 2px 16px var(--shadow);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.grid-wrap ul li img:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.horizontal {
  grid-column: span 2;
}

.vertical {
  grid-row: span 2;
}

.big {
  grid-column: span 2;
  grid-row: span 2;
}

.small {
  grid-column: span 1;
  grid-row: span 1;
}

@media screen and (min-width: 450px) and (max-width: 800px) {
  * {
    font-size: 0.8rem;
  }
  .nav .leftNav img {
    width: 65px;
    margin: 20px 0px 0px 5px;
  }
  .nav .rightNav button {
    margin-top: 20px;
  }
  .nav .rightNav .social {
    margin-top: 30px;
  }
  .welcome1 p {
    font-size: 5rem;
  }
  .headers > div {
    max-width: 70vw;
    min-width: 290px;
  }
  .svg svg {
    width: 100px;
  }
  input[type="range"]::before {
    top: -12px;
  }
  #comm {
    font-size: 1.5rem;
  }
  .headers > div > a {
    width: 50vw;
    height: 120px;
  }
  .svg svg {
    width: 10vh;
    max-width: 55px;
    margin: 10px;
  }
  .side h1 {
    font-size: 1.5rem;
  }
  .cvHd a,
  .galery a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    margin-left: calc(20vw - 10px) !important;
  }
}

@media screen and (min-width: 1px) and (max-width: 449px) {
  * {
    font-size: 0.8rem;
  }
  .socialMd,
  .navMd {
    display: inline-block;
  }
  .nav {
    display: none;
  }
  .navMd {
    position: fixed;
    background-color: #b3b4bd;
    width: 100vw;
    padding: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 20;
    height: 50px;
    margin: auto;
  }
  .navMd img {
    width: 75px;
    cursor: pointer;
  }
  .socialMd {
    height: 40px;
    z-index: 20;
    position: fixed;
    width: 100vw;
    background-color: #b3b4bd;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }
  .socialMd > a {
    margin: auto;
  }
  .socialMd > a > i {
    color: #29293c;
  }
  .navMd button {
    background-color: #1b1b2a;
    color: #b3b4bd;
    font-size: bold;
    margin-right: 10px;
  }
  .navMd button:hover {
    color: #b3b4bd;
    background-color: #29293c;
  }
  .welcome div p {
    font-size: 2rem;
  }
  .welcome1 p {
    font-size: 10rem;
  }
  @-webkit-keyframes welcome3 {
    34% {
      visibility: hidden;
    }
    36% {
      visibility: visible;
      opacity: 0;
      padding-top: 0;
    }
    38% {
      padding-top: 25vh;
      opacity: 1;
    }
    48% {
      opacity: 1;
      padding-top: 25vh;
    }
    50% {
      visibility: visible;
      opacity: 0;
      padding-top: 0;
    }
    51% {
      visibility: hidden;
    }
  }
  @keyframes welcome3 {
    34% {
      visibility: hidden;
    }
    36% {
      visibility: visible;
      opacity: 0;
      padding-top: 0;
    }
    38% {
      padding-top: 25vh;
      opacity: 1;
    }
    48% {
      opacity: 1;
      padding-top: 25vh;
    }
    50% {
      visibility: visible;
      opacity: 0;
      padding-top: 0;
    }
    51% {
      visibility: hidden;
    }
  }
  .headers {
    position: absolute;
    width: 100vw;
    margin-left: 0vw;
    padding: 10px;
    margin-top: 75vh;
    padding-bottom: 100px;
  }
  .headers > div > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 120px;
    margin-bottom: 20vh;
  }
  .cvHd a,
  .galery a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: 0 !important;
  }
  iframe {
    width: calc(100vw - 20px);
    height: 45vw;
  }
  input[type="range"]::before {
    top: -12px;
  }
  .aboutme,
  .cv,
  .myprojects,
  .prproject {
    width: 100%;
    margin-left: 0;
    margin-top: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */
